.welcome_wrap {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 288px 1fr;
	border-top: 1px solid black;
	border-left: 1px solid black;
	grid-template-areas:
		'flag phrase'
		'quote quote';
}
.welcome_wrap > div {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.welcome_flag {
	grid-area: flag;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome_phrase {
	grid-area: phrase;
	font-size: 4em;
	cursor: default;
}
.welcome_phrase p {
	font-weight: bold;
	text-align: end;
	color: #424242;
}
.welcome_word {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
.welcome_word span {
	font-weight: bold;
	color: #424242;
	transition: all 0.2s ease;
}
#welcome_word_appear {
	animation: on-apear 300ms ease-in;
	/* transform-origin: bottom; */
	animation-fill-mode: forwards;
}
@keyframes on-apear {
	0% {
		opacity: 0;
		transform: translateY(-15%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.quote_section {
	padding: 80px 40px;
	grid-area: quote;
	text-align: right;
}
.quote_section_content {
	font-size: 2em;
	margin-bottom: 10px;
}
.secret {
	cursor: pointer;
}
.secret:hover {
	transform: translateY(-3%);
	filter: brightness(1.5);
}
