header {
	--header-height: 60px;
	--lang-size: var(--header-height);
	position: relative;
	height: var(--header-height);
	margin-bottom: 2rem;
}
.header_language {
	position: relative;
	display: grid;
	place-items: center;
	float: right;
	width: var(--lang-size);
	height: var(--lang-size);
	font-size: 3rem;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 999;
}
.language_menu {
	position: absolute;
	top: 100%;
	right: 0;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	font-size: 1.25rem;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}
.language_option {
	position: relative;
	width: 200px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	padding: 0.5rem 2rem;
	cursor: pointer;
}
.language_menu input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.language_menu input:checked ~ label {
	background-color: rgb(240, 240, 240);
}
.language_menu input:focus ~ label {
	outline: 1px dotted #212121;
	outline: 5px auto -webkit-focus-ring-color;
}
